<div>
    <div class="drop-zone" id="drop_zone" (drop)="onFileBulkDrop($event);" (dragover)="onFileBulkDragOver($event)">
        <span *ngIf="newSouldFiles == undefined|| newSouldFiles?.length == 0">&lt; Drop files here &gt;</span>
        <div *ngFor="let newSouldFile of newSouldFiles" class="label col-xs-12" [ngClass]="getFileResultClass(newSouldFile)">
            {{newSouldFile.name}}
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-danger" (click)="clearDropZone()" *ngIf="newSouldFiles != undefined && newSouldFiles?.length != 0">Vider</button>
        <button class="btn btn-success" (click)="addSounds()" *ngIf="newSouldFiles != undefined && newSouldFiles?.length != 0">Balancer la totale!</button>
    </div>
</div>