<!--The content below is only a placeholder and can be replaced.-->
<div>
    <h1 style="text-align:center">
        Welcome to {{title}}
    </h1>
    <div stype="margin:10px;">
        <form (ngSubmit)="onSubmitBulk()" #soundBulkForm="ngForm">
            <div style="margin:10px;display:inline-block;width:80%;text-align: center;border-color: #204;border-width: 2px;border-style: dashed;padding: 10px;color: #555;" id="drop_zone" (drop)="onFileBulkDrop($event);" (dragover)="onFileBulkDragOver($event)">Drop files here></div>
            <button style="display: block;margin : auto;" class="btn btn-success" type="submit" [disabled]="!soundBulkForm.form.valid">Balancer la totale!</button> {{this.bulkInsertResult}}
        </form>
    </div>
    <div class="container" style="text-align:center">
        <span style="margin-left: 10px" *ngFor="let sound of sounds">
            <a (click)="onPlay(sound)" href="#son/{{slug}}" role="button" class="btn btn-primary">{{sound.name}}</a>
        </span>
    </div>
</div>