<div>
    <app-google-login></app-google-login>
    <h1 style="text-align:center">
        Welcome to {{title}}
    </h1>
    <ul class="nav nav-tabs">
        <li routerLinkActive="active"><a routerLink="/display-favorite-sounds">Mes favoris</a></li>
        <li routerLinkActive="active"><a routerLink="/display-sounds">Top 100</a></li>
        <li routerLinkActive="active"><a routerLink="/add-sounds">Ajouter</a></li>
        <li routerLinkActive="active"><a routerLink="/delete-sounds">Supprimer</a></li>
    </ul>
    <router-outlet></router-outlet>
</div>